body{
    margin: 0;
    padding: 0;
    font-family: roboto;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.p-plus{
    font-size: 20px;
    font-weight: bolder;
    margin: auto;
    font-family: roboto;
}

.btn.btn-warning{
    margin-bottom: 100px;
}
.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.crud{
display: flex;
flex-direction: column;
margin-bottom: 10px;
}
.crud-edit-delete{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.pagination{
    margin: auto;
    margin-top: 10px;
}
